h1 {
    font-size: 2.5 rem;
    font-weight: 700 ;
    color: var(--title-color);
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--title-color);
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--paragraph-color);
}
  
span {
    font-size: 0.875rem;
    color: #666;
    color: var(--paragraph-color);
  }