
.box-users-data {
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 100%;
    border-bottom: solid 1px var(--border-color);
    
}

.item-table {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.item {
    width: 16.6%;
    text-align: center;
    font-size: 1.1vw ;
}

.status {
    border: solid 1px var(--active-color);
    color: var(--active-color);
    height: 2vw;
    font-weight: 600;
    justify-content: center;
    display: flex;
    border-radius: 15px;
}

.inactive-text {
    color: var(--paragraph-color-inactive);
}

.inactive-status {
    color: var(--inactive-color); 
    border: solid 1px var(--inactive-color);
    font-weight: 600;
}